<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fei.firstproject">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.hardware.sensor.accelerometer" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="f8a6721ab93f1ea945ba60b33fde61b5" />

        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/ActivityBottomStyle" />
        <activity android:name=".activity.CaptureActivity" />
        <activity android:name=".activity.MessageActivity" />
        <activity android:name=".activity.RecommendPlanActivity" />
        <activity android:name=".activity.MyOrderActivity" />
        <activity android:name=".activity.MyAttentionActivity" />
        <activity android:name=".web.WebActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.SettingActivity" />
        <activity android:name=".activity.SelfInfoActivity" />
        <activity android:name=".activity.AddAddressOrUpdateActivity" />
        <activity android:name=".activity.MyAddressActivity" />
        <activity android:name=".activity.MapActivity" />
        <activity android:name=".activity.AboutUsActivity" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:theme="@style/DialogStyle" />
        <activity android:name=".activity.AccountSecurityActivity" />
        <activity android:name=".activity.ProductLibActivity" />
        <activity android:name=".activity.ProductDetailActivity" />
        <activity android:name=".activity.RetailersInfoActivity" />
        <activity android:name=".activity.FieldManageActivity" />
        <activity android:name=".activity.ExpertiseClinicActivity" />

        <service android:name="com.amap.api.location.APSService"></service>
    </application>

</manifest>